<%= form_with(model: song, local: true, html: { multipart: true }) do |form| %>
  <% if song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, id: :song_title , class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :price, class: "form-label" %>
    <%= form.number_field :price, id: :song_price , class: "form-control" %>
  </div>


  <div class="form-group">
    <%= form.label :artist, class: "form-label" %>
    <%= form.text_field :artist, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :genre, class: "form-label" %>
    <%= form.collection_select :genre_id, Genre.order(:name), :id, :name, {} , class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :image, class: "form-label" %>
    <%= form.file_field :image, id: :image %>
  </div>

  <div class="form-group">
    <%= form.label :mp3, class: "form-label" %>
    <%= form.file_field :mp3, id: :image %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-dark" %>
  </div>
<% end %>
