
.jumbotron.hero{ style: "background-image: url(#{image_path "header-image.jpg"})"}
  .container
    %h1 Discover new music
    = link_to "Browse Songs", songs_path, class: "btn btn-secondary"

.container
  .trending_section.mb-5
    %h1.text-center.white Latest releases
    .row
      - @tracks.each do |track|
        .col-sm-3.col-6
          = link_to track do 
            .card.bg-dark.text-white
              = image_tag(track.image.url, class: "card-img")
              .card-img-overlay
                %h5.card-title= track.title
                %p.card-text= track.artist.name 

  .genre_section
    %h1.text-center Genres
    .row
      - @genres.each do |g|
        .col-sm-3.col-6
          %h3= link_to g.name, g
          %p= pluralize(g.songs.count, "track")