<div class="container">
  <div class="div">
    <%= link_to "View all artistes", root_path, class: "btn btn-dark btn-lg" %>
    <%= link_to "View all songs", root_path, class: "btn btn-dark btn-lg" %>
    <%= link_to "View all users", root_path, class: "btn btn-dark btn-lg" %>
  </div>



<div class="row">
  <div class="col-sm-6">
    <% @artists.each do |a| %>
      <%= link_to a.stage_name, a %>
      <%= a.songs.count %>
    <% end %>
  </div>

  <div class="col-sm-6">
    <% @songs.each do |s| %>
      <%= link_to s.title, s %>
      <%= s.artist.stage_name %>
    <% end %>
  </div>
</div>

</div>
